body {
    margin: 0;
    padding: 0;
    /* width: 1366px; */
    width: 100vw;
    /* height: 768px; */
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    /* border: 1px solid white; */
    border-radius: 20px;
    width: 350px;
    height: 350px;
    background-color: hsl(213, 19%, 18%);
    padding: 20px 30px;
    box-sizing: border-box;
}

.box_picture {
    /* border: 1px solid blue; */
    border-radius: 100%;
    background-color: hsla(217, 12%, 63%, 0.144);
    padding: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 15px;
    height: 15px;
}

.title {
    /* border: 1px solid red; */
    color: white;
    font: 700 25px 'Overpass', sans-serif;
    width: 285px;
}


.text {
    /* border: 1px solid green; */
    margin-top: -10px;
    font: 400 12px 'Overpass', sans-serif;
    line-height: 20px;
    color: hsl(216, 12%, 54%);
    width: 285px;
}

form {
    width: 285px;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-content:space-around;
    flex-wrap: wrap;
}

input[type="radio"] {
    visibility: hidden;
    position: absolute;
}


label {
    cursor: pointer;
}

label .circle {
    border-radius: 100%;
    font: 400 15px 'Overpass', sans-serif;
    color: hsl(216, 12%, 54%);
    background-color: hsla(217, 12%, 63%, 0.144);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label .circle:hover {
    background-color:hsl(217, 12%, 63%); 
    color:hsl(213, 19%, 18%);
    border: 1px solid hsla(216, 12%, 54%, 0.549);
    transition: 300ms;
}

input:checked+label .circle {
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
    transition: 300ms;
}

.send {
    /* border: 1px solid orange; */
    border: none;
    color: white;
    background-color: hsl(25, 97%, 53%);
    border-radius: 30px;
    width: 285px;
    height: 40px;
}

.send:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
    cursor: pointer;
    transition: 300ms;
}

.send:target {
    color: hsl(25, 97%, 53%);
    background-color: white;
    cursor: pointer;
    transition: 300ms;
}


/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700

*/