body {
    margin: 0;
    padding: 0;
    /* width: 1366px; */
    width: 100vw;
    /* height: 768px; */
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    border: 1px solid white;
    border-radius: 15px;
    width: 400px;
    height: 300px;
    background-color: hsl(213, 19%, 18%);
    

}

.box_picture {
    border: 1px solid blue;

}

.title {
    border: 1px solid red;

}

.text {
    border: 1px solid green;

}

form {
    border: 1px solid gold;

}

.div_feedback {
    border: 1px solid gray;

}

li {
    border: 1px solid pink;
    list-style: none;
}

button {
    border: 1px solid orange;
    
}


/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700

*/